.postsBlock {
    padding: 10px;
}

.postButton {
    margin-top: 10px;
    height: 40px;
    width: 200px;
}

.inputWrapper {
    display: flex;
}

.textarea {
    min-height: 40px;
}

.postsTitle {
    padding-bottom: 10px;
}