.logo {
    width: 50px;
    height: auto;
    cursor: pointer;
}

.header {
    grid-area: header;
    background-color: #4b75a5;
    padding: 3px;
    width: 100%;
    height: 54px;
    position: fixed;
    z-index: 2;
    /*position: relative;*/
}


