@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.app-wrapper {
  display: grid;
  max-width: 1024px;
  margin: 10px auto;

  grid-template-areas:
  "header header"
  "nav content";

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  gap: 10px;
}

.panorama {
  max-width: 100%;
}

.logo {
  width: 50px;
  height: auto;
}

.header {
  grid-area: header;
  background-color: #05b565;
}

.nav {
  grid-area: nav;
  background-color: #05b565;
  padding: 15px;
}

.nav__menu {
  list-style: none;
}

.nav__menu-item {

}

.nav__link {
  color: white;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

.nav__menu-item:not(:first-child) {
  margin-top: 15px;
}

.content {
  grid-area: content;
  background-color: lawngreen;
}