.dialogs {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #d9b438;
}

.btn {
    display: block;
}

.messages {
    padding: 10px;
}