$primaryColor: #4A90E2;
$blueLikeHeader: #4b75a5;
$blueLikeNavbar: #375c89;

.dialogs {
  display: grid;
  grid-template-columns: 1fr 4fr;

  .dialogsItems {
    padding: 10px;
  }

  .textarea {
    width: 310px;
    border-radius: 3px;
    box-shadow: none;
    border: none;
  }

  .messagesWrapper {
    padding: 10px;


    .btn {
      display: block;
      color: $blueLikeNavbar;
      position: relative;
      font-size: 24px;
      font-weight: 700;
      padding: 0.5em 1em;
      margin-top: 10px;
      border: 3px solid #375c89;
      transition: all 200ms ease;
      //box-shadow: 0 4px 10px 2px rgba(black, 0.2);

      &:hover {
        cursor: pointer;
        color: white;
        background-color: $blueLikeNavbar;
        box-shadow: none;
        //border: 3px solid $primaryColor;
      }
    }
  }
}


.dialogsItems .active {
  color: #d9b438;
}

//.btn {
//  display: block;
//  width: 200px;
//  height: 60px;
//  border-radius: 5px;
//  font-size: 24px;
//  color: white;
//  background-color: #996c99;
//}

