.dialogs {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: #d9b438;
}

.dialog {
    padding: 5px;
}

.dialog a {
    text-decoration: none;
    color: #be3655;
}

.dialog a:hover {
    color: white;
}

.messages {
    padding: 10px;

}

.message {
    padding: 5px;
}